.top {
    position:absolute;
    left:0; right:0;
    height: 40px;
}
.left {
    position:absolute;
    left:0; top:40px; bottom: 0;
    width: 50px;
}
.main {
    position: absolute;
    left:50px; top:40px; right:0; bottom:0;
    width: calc(100% - 70px);
}

.hover{
    position: absolute;
    width: calc(100% - 70px);
}

.hover tr:hover {
    cursor: pointer;
    background-color: #ffff99;
}
