<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers/homeController.js"></script>

    <link rel="stylesheet" type="text/css" href="content/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="content/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="content/custom/home.css">
	<title>Vivienda</title>
</head>
<body style="background-color: #f4f3ed; color: white;">
	<div ng-app="myApp" ng-controller="homeCtrl" align="center" style="font-family: Tahoma, Geneva, sans-serif;">
		<div class="top"></div>
		<div class="left">
			<div><a href="/home"><i class="fa fa-home fa-2x" aria-hidden="true" style="color:#64b5f6"></i></a></div>
			<br/>
			<br/>
			<div><a href="/patientList"><i class="fa fa-users fa-2x" aria-hidden="true" style="color:#64b5f6"></i></a></div>
			<br/>
			<br/>
			<div><a href="/schedule"><i class="fa fa-calendar fa-2x" aria-hidden="true" style="color:#64b5f6"></i></a></div>
			<br/>
			<br/>  <img src="url" alt="some_text" style="width:width;height:height;">
		</div>
		<div class="main" style="color:2e8adf">
			<div class="row">
				<h1 class="col-md-12" style="color:#2f8ce2">eFichero</h1>
			</div>
			<div class="row">
				<i class="fa user fa-5x" aria-hidden="true" style="color:#64b5f6"></i>
			</div>
			<br/>
			<div class="row" align="center">
				<div class="col-xs-1 col-sm-3"></div>
				<div class="col-xs-10 col-sm-6" style="font-size: 25px;color:#2f8ce2">Marquette University: Esta aplicación realiza un seguimiento de los sistemas de archivos para los ECOS en el salvador.</div>
				<div class="col-xs-1 col-sm-3"></div>
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-2 col-sm-3"></div>
				<div class="col-xs-4 col-sm-3">
					<button style="border-radius: 50px; border: 2px solid #64b5f6; background-color: transparent; color: #64b5f6" onclick="window.location.href='/patientList'">Lista de Pacientes</button>
				</div>
				<div class="col-xs-4 col-sm-3">
					<button style="border-radius: 50px; border: 2px solid #64b5f6; background-color: transparent; color: #64b5f6" onclick="window.location.href='/patientList'">Horario</button>
				</div>
				<div class="col-xs-2 col-sm-3"></div>
			</div>
		</div>
	</div>
</body>
</html>
