<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Autenticación para el Nodo</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers/indexController.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div ng-app="myApp" ng-controller="indexCtrl" align="center" style="font-family: Tahoma, Geneva, sans-serif;">
    <div class="container">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Autenticación para el Nodo</h1>

            <p>Iniciar sesión o Registrarse:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>

    </div>
</div>
</body>
</html>
