<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->

	<!--JQUERY must be before angular-->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$.datepicker.regional['es'] = {
			closeText: 'Cerrar',
			prevText: '< Ant',
			nextText: 'Sig >',
			currentText: 'Hoy',
			monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
			dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
			dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
			weekHeader: 'Sm',
			dateFormat: 'dd/mm/yy',
			firstDay: 1,
			isRTL: false,
			showMonthAfterYear: false,
			yearSuffix: ''
		};
		$.datepicker.setDefaults($.datepicker.regional['es']);
		$(function () {
		$("#fecha").datepicker();
		});

	</script>
	<script type="text/javascript" src="content/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/controllers/patientInfoController.js"></script>
	<script type="text/javascript" src="scripts/services/schedulingService.js"></script>

	<link rel="stylesheet" type="text/css" href="content/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="content/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="content/custom/patientInfo.css">
	<title>PATIENT INFORMATION</title>
</head>
<body style="background-color: #f4f3ed; color:#2f8ce2;">
<div ng-app="myApp" ng-controller="patientInfoCtrl">
	<div class="top footer navbar-fixed-top row" style="margin-left: 70px; padding-top: 5px; ">
		<div class="row">
			<div class="col-xs-4">
				<h3 style="color:#4986b7;">{{patient.Name}}</h3>
			</div>
			<div class="col-xs-8">
				<div class="row" style="color: #64b5f6; margin-top: 10px; margin-bottom: 10px; margin-right: 40px;"
				     align="center">
				</div>
			</div>
		</div>
	</div>
		<div class="left" align="center" style="margin-top: 10px">
			<div><a href="/home"><i class="fa fa-home fa-2x" aria-hidden="true" style="color:#64b5f6"></i></a></div>
			<br/>
			<br/>
			<div><a href="/patientList"><i class="fa fa-users fa-2x" aria-hidden="true" style="color:#64b5f6"></i></a></div>
			<br/>
			<br/>
			<div><a href="/schedule"><i class="fa fa-calendar fa-2x" aria-hidden="true" style="color:#64b5f6"></i></a></div>
			<br/>
			<br/>
			<div><a href="/editPatient?patientID={{patient.ID}}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style="color:#64b5f6"></i></a></div> 
			<br/>
			<br/>
			<div class="delete" ng-click="delete_patient()">
                                        <i class="fa fa-trash-o fa-2x" aria-hidden="true" style="color:#64b5f6"></i>
                                </div>  

		</div>
		<div class="main" style="color:#2f8ce2">
			<div style="margin: 10px 10px 44px 10px; padding-left: 10px; padding-right: 10px; width: 100%; border-left: 1px solid #64b5f6;">
				<div class="row">
					<div class="col-xs-4">
						<br/>
						<div class="row">
							<div class="col-xs-6">Classificatión:</div>
							<div class="col-xs-6">{{patient.ID}}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">Fecha de Nacer:</div>
							<div class="col-xs-6">{{patient.DOB | date:'dd/MM/yyyy'}}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">ID del Paciente:</div>
							<div class="col-xs-6">{{patient.DescriptivePatientID}}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">ID de la Familia:</div>
							<div class="col-xs-6">{{patient.FamilyID}}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">Nombre del Eco:</div>
							<div class="col-xs-6">{{patient.ECOName}}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">Id de la Zona:</div>
							<div class="col-xs-6">{{patient.ZoneID}}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">Sexo:</div>
							<div class="col-xs-6">{{patient.Sex}}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">ID Grupal:</div>
							<div class="col-xs-6">{{patient.GroupID}}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">Factores de Riesgos:</div>
							<div class="col-xs-6">{{patient.RiskFactor}}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">Chronic Illness:</div>
							<div class="col-xs-6">{{patient.ChronicIlness}}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">Notes:</div>
							<div class="col-xs-6">{{patient.Notes}}</div>
						</div>
						<div class="row">
							<div class="col-xs-6">Información:</div>
							<div class="col-xs-6">{{patient.Name}} {{patient.owner}}</div>
						</div>
					</div>
					<div class="col-xs-8">
	



						<div id="AppointmentHistory" class="tabcontent">
							<h3 style="color:#4986b7;">Historia de Citas</h3>

							<div>
								<table>
									<tr >
										<td>{{x.AppointmentType}}</td>
									</tr>
									<tr>
										<td>{{appointment.AppointmentType}}</td>
									</tr>
								</table>
							</div>

							<div>
								<table>
									<tr style="font-weight: bold">
										<!--<td style="padding: 10px;">{{x.AppointmentType}}</td> !-->
										<td style="padding: 10px">Fecha</td>
										<td style="padding: 10px">Tipo</td>
										<td style="padding: 10px">Incidencia</td>
										<td style="padding: 10px">Prevalencia</td>
										
									</tr>
									
									<tr ng-repeat="x in appointment">
										<td style="padding: 10px">{{x.AppointmentDate}}</td>
										<td style="padding: 10px">{{x.AppointmentType}}</td>
									</tr>
								</table>
							</div>
						</div>
						
						<div id="Family" class="tabcontent">
							<h3>Familia</h3>
							<p>Information de la Familia</p>
					</div>
				</div>
				<div class="col-xs-12" style="text-align: center;">
					<!-- Trigger/Open The Modal -->
					<button id="myBtn">Nueva Cita</button>
					<!-- The Modal -->
					<div id="myModal" class="modal">
						<!-- Modal content -->
						<div class="modal-content">
							<span class="close">&times;</span>
							<p>
							<form ng-submit="createNewAppointment()">
								<h2>
									Agregar nueva cita
								</h2>
								<div class="row">
									<div class="col-xs-6">
										Nombre del Paciente:
									</div>
									<div class="col-xs-6">
										{{patient.Name}}
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">Tipo de Cita:</div>
									<div class="col-xs-6">
										<select name="appointmentType" ng-model="newAppointment.TypeName">
											<option ng-repeat="t in visitTypes" value={{t.Name}}>{{t.Name}}</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">Fecha:</div>
									<div class="col-xs-6">
										<input type="text" id="datepicker" ng-model="newAppointment.Date">
									</div>
								</div>
								<br><br>
								<input value="Enviar" type="submit">
							</form>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
