<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers/patientListController.js"></script>

    <link rel="stylesheet" type="text/css" href="content/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="content/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" type="text/css" href="content/custom/schedule.css">-->
    <link rel="stylesheet" type="text/css" href="content/custom/patientList.css">
	<title>Horario</title>
</head>
<body style="background-color: #f4f3ed; color: white;">
	<div ng-app="myApp" ng-controller="patientListCtrl">
		<div class="top footer navbar-fixed-top row" align="center" style="margin-left: 1px; padding-top: 5px; ">
			<h3 style="color:#4986b7;">Lista de Pacientes</h3>
			<div align="right" style="padding-right:30px;"><a href="/createPatient"><i class="fa fa-plus fa-2x" aria-hidden="true" style="color:#64b5f6"></i></a></div>			
		</div>
		<div class="left" align="center" style="margin-top: 10px">
			<div><a href="/home"><i class="fa fa-home fa-2x" aria-hidden="true" style="color:#64b5f6"></i></a></div>
			<br/>
			<br/>
			<div><a href="/patientList"><i class="fa fa-users fa-2x" aria-hidden="true" style="color:#64b5f6"></i></a></div>
			<br/>
			<br/>
			<div><a href="/schedule"><i class="fa fa-calendar fa-2x" aria-hidden="true" style="color:#64b5f6"></i></a></div>
		</div>
		<div class="main">
			<div style="margin: 10px 10px 44px 10px; padding-left: 10px; padding-right: 10px; width: 100%; border-left: 1px solid #64b5f6;">
				<table class="hover" width="100%" rules="rows">
					<tr style="font-weight: bold; color:#4986b7; font-size: 19px;">
						<td ng-click="sortPatientsBy('name')">Nombre</td>
						<td ng-click="sortPatientsBy('zone')">Zona</td>
						<td ng-click="sortPatientsBy('group')">Grupo</td>
						<td ng-click="sortPatientsBy('appt')">Cita Próxima</td>
						<td ng-click="sortPatientsBy('risk')">Factores de Riesgo</td>
						<input style="height: 0px;"/>
					</tr>
					<tr ng-repeat="x in names" style="font-style: bold; color:#64b5f6; font-size: 15px;" ng-click="openPatientInformation(x.ID)">
						<td>{{x.Name}}</td>
						<td>{{x.Zone}}</td>
						<td>{{x.GroupID}}</td>
						<td>{{x.NextAppointmentDateFormatted}}</td>
						<td>{{x.RiskFactor}}</td>
					</tr>
				</table>

	
			
			</div>
		</div>
	</div>
</body>
</html>
