<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers/signupController.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body style="background-color: #f4f3ed; color: white;">

<div ng-app="myApp" ng-controller="signupCtrl" align="center" style="font-family: Tahoma, Geneva, sans-serif;">
    <div class="container" style="display:table;">
        <div class="row" style="height: 100%; display: table-row;">
            <div class="col-sm-6 vertical-center">
                <img src="content/images/Globe.png" width="250px;" style="display: table-cell; float: none; vertical-align: middle;"/>
            </div>
            <div class="col-sm-6 vertical-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Seal_of_the_President_of_El_Salvador.svg/2000px-Seal_of_the_President_of_El_Salvador.svg.png" width="250px;" style="display: table-cell; float: none; vertical-align: middle;"/>
            </div>
            <div class="col-sm-6">
                <h1>Signup</h1>

                <!-- show any messages that come back with authentication -->
                <!--<% if (message.length > 0) { %>-->
                <!--<div class="alert alert-danger"><%= message %></div>-->
                <!--<% } %>-->

                <!-- LOGIN FORM -->
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label style="color:blue;">Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label style="color:blue;">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                </form>

                <hr>

                <p>Already have an account? <a href="/login">Login</a></p>
                <p>Or go <a href="/">home</a>.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
